absl-py
astor
bleach
bottle
click
certifi
chardet
flask
future
gast==0.4.0
grpcio
gunicorn
h5py
html5lib
itsdangerous
idna
Jinja2
line-bot-sdk
Markdown
MarkupSafe
numpy
oauthlib
pillow
protobuf==3.19.6
PyYAML
python-dotenv
requests
scipy
six
tensorboard==2.11.2
tensorflow-cpu==2.11.0
termcolor
urllib3
Werkzeug